@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: #d74949;
}

hr {
  width: 49px;
}
h1 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.41px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h2 {
  text-align: right;
  padding-right: 49px;
  padding-top: 12px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 800;
  line-height: 18.75px;
  letter-spacing: 0.07em;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  /* padding: 12px 49px 0px 0px; */
}

.first-heading {
  padding-top: 100px;
  display: flex;
  align-items: center;
}

.main-container {
  max-width: 1110px;
  background-color: #f3f3f3;
  height: 90.7vh;
  margin: auto;
}

#title {
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

#title span {
  color: #d74949;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.card-container {
  width: 207px;
  height: 328px;
  padding: 39px 0px 0px 50px;
  position: relative;
}

.card {
  width: 200px;
  height: 300px;
  box-shadow: #d74949;
  position: absolute;
  box-shadow: 5px 5px 10px #3a3a3a;
  border-radius: 15px;
  overflow: hidden;
}
.social {
  display: flex;
  justify-content: start;
  padding: 20px;
  gap: 5px;
}

.picture1 {
  width: 200px;
  height: 185px;
  background-image: url(./images/image\ 1.png);
}
.picture {
  width: 200px;
  height: 185px;
  background-image: url(https://s3-alpha-sig.figma.com/img/25e0/f7da/ba9bbf242460f04a57196e93d54e0943?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=fi0zvrxt~XBvkgRAhNBkcbziCS3AcKaw5vFZaR1~52i18N7~qK3RG3Hvj4FJu3ADL9wKzAEvl0BxEWHPQEebOM2IthK8AUu5DX5WX0zh8KVN2TEWqCple4TLOrtetHXzqt55Xadye8VfbVgHIXnz--Eo1J8aM8-ZdtK8hD~HkGfAP~N8Cu~DxLWjYzz1~PnbaRJc1AwMo0voMAgSfZt08ZuvfQjxbBTjdrNsBLZgDqiiTv7OO8wPCOfH8F~gt9gweAgTH84DAMv4v~Smap5G-Kapz-SNuOqeYqkikwSIOjvoarZkoDZ5QB6qXiQyvRk7uvguqwRHe~~g5W2PnCWsVw__);
  background-size: contain;
}
.linkedin {
  width: 18px;
  height: 18px;
  background-image: url(./images/linkedin.png);
}
.whatshapp {
  width: 18px;
  height: 18px;
  background-image: url(./images/whatsapp.png);
}

p.name {
  font-size: 14px;
  padding: 20px 0px 0px 20px;
}

p.title {
  font-size: 14px;
  padding: 3px 0px 0px 20px;
  color: #3a3a3a;
}

.circle {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  background-color: lightgray;
  margin-left: auto;
  margin-top: calc(328px - 54px);
}

.circle-container {
  width: 207px;
  height: 328px;
  position: absolute;
}

.footer {
  width: 1440px;
  margin: auto;
  height: 9.3vh;
  top: 615px;
  gap: 0px;
  opacity: 0px;
  background: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
